<footer
  class="d-flex flex-wrap justify-content-between align-items-center py-3 mt-4 border-top px-4 bg-light"
>
  <div class="col-md-6 d-flex align-items-center">
    <span class="mb-0 text-body-secondary">© 2025 Ibrahim Hesham</span>
  </div>
  <ul class="nav col-md-6 justify-content-end list-unstyled d-flex">
    <li class="ms-3">
      <a
        class="text-body-secondary"
        href="https://www.linkedin.com/in/ibrahim-hesham-abdel-dayem/"
        target="_blank"
        aria-label="LinkedIn"
      >
        <i class="bi bi-linkedin" style="font-size: 1.5rem"></i>
      </a>
    </li>
    <li class="ms-3">
      <a
        class="text-body-secondary"
        href="https://github.com/ibraaahim11"
        target="_blank"
        aria-label="Github"
      >
        <i class="bi bi-github" style="font-size: 1.5rem"></i>
      </a>
    </li>
  </ul>
</footer>
