<nav class="navbar navbar-expand-md">
  <div class="container-fluid">
    <a class="navbar-brand ms-3" href="/">
      <div class="logo-div">
        <img src="/images/logo.svg" alt="Logo" /> MusicFinder
      </div>
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarContent"
      aria-controls="navbarContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse mt-3 mt-md-0" id="navbarContent">
      <div class="container">
        <!-- Wrap both radio buttons and search bar in ONE form -->
        <form
          role="search"
          class="d-flex flex-column flex-md-row align-items-center justify-content-center justify-content-md-end gap-2 w-100"
          method="get"
          action="/search"
          autocomplete="off"
        >
          <!-- Radio buttons -->
          <div
            class="col-12 col-md-auto d-flex justify-content-center gap-2 mb-2 mb-md-0"
          >
            <input
              type="radio"
              class="btn-check"
              name="search_option"
              id="artist"
              value="artist"
              autocomplete="off"
              checked
            />
            <label class="btn rounded-circle icon-radio" for="artist">
              <img
                src="/images/artist.svg"
                alt="Artist icon"
                class="icon-img"
              />
            </label>

            <input
              type="radio"
              class="btn-check"
              name="search_option"
              id="album"
              value="album"
              autocomplete="off"
            />
            <label class="btn rounded-circle icon-radio" for="album">
              <img
                src="/images/album.svg"
                alt="Album icon"
                class="icon-img"
              />
            </label>

            <input
              type="radio"
              class="btn-check"
              name="search_option"
              id="song"
              value="song"
              autocomplete="off"
            />
            <label class="btn rounded-circle icon-radio" for="song">
              <img src="/images/song.svg" alt="Song icon" class="icon-img" />
            </label>
          </div>

          <!-- Search bar -->
          <div class="col-12 col-md-auto ps-0">
            <input
              class="form-control rounded-pill nav-search w-100 text-center"
              placeholder="Search for artists, albums, songs..."
              type="search"
              name="query"
              aria-label="Search"
              style="max-width: 600px"
            />
          </div>
        </form>
      </div>
    </div>
  </div>
</nav>
