<!DOCTYPE html>
<html>
  <%- include('partials/head') %>

  <body>
    <%# include partials/navbar %>

    <main class="container mt-4"><%- body %></main>

    <%- include('partials/footer') %>
<%- include('partials/scripts') %>

  </body>
</html>
